{% extends 'base.html' %}



{% block content %}
{% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>hello world</h1>
        <p>My name is {{ first_name }}</p>
    <p>{{ stuff|trim }}</p>
    {% for el in favorite_pizza %}

        {% if el == 41 %}
            {{ el + 100 }}<br/>
        {% else %}
            {{ el }}<br/>
        {% endif %}

    {% endfor %}

    <br/><br/>
    {{ favorite_pizza.0|reverse }}
    </body>
    </html>
{% endblock %}